.sidebarchat{
    display: flex;
    padding: 20px;
    
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarchat:hover{
    background-color: lightgrey;
}

.sidebarchat-info >h2{
    line-height: 1em;
 font-size: larger;
 
}
.add-new-chat-title{
    margin: 0px 0px 0px 10px;
}

.sidebarchat-info{
    margin-top: -20px;
    margin-left: 35px;
}
